// TODO implement absolute paths
//@use '@/app/styles/config/screen';
@use '../config/zindex';
@use '../config/screen';

@mixin useBackgroundCommon {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: zindex.$background;
  overflow: hidden;

}