// MAIN THEME
//$primary: #C867FF;
$primary: #0E70F5;
//$secondary: #009CFF;
$secondary: #009CFF;
$tertiary: #3EB5FF;
$textColor: #2D2D2A;
$background: rgb(23,24,27);

//TYPOGRAPHY
$font: #A0A0A0;

// SUPPORT COLORS
$white: #000;
$black: #000;
