// MAIN THEME
//$primary: #C867FF;
$primary: #0E70F5;
//$secondary: #009CFF;
$secondary: #C1449D;
$tertiary: #161614;
//$background: #2D2D2A;
$background: #3E3E3E;

// SUPPORT COLORS
$white: #000;
$black: #000;
