@use '@/styles/colors/dark';
@use '@/styles/colors/light';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

:root {
  --theme: 'dark';
  --primary: #{dark.$primary};
  --secondary: #{dark.$secondary};
  --tertiary: #{dark.$tertiary};
  --highlight: #{dark.$highlight};
  --decoration: #{dark.$decoration};
  --background: #{dark.$background};
  --border: #{dark.$border};
  --text-primary: #{dark.$text_primary};
  --text-secondary: #{dark.$text_secondary};
  --black: #{dark.$black};
  --white: #{dark.$white};
}

/* Dark theme overrides */
[data-theme='light'] {
  --primary: #{light.$primary};
  --secondary: #{light.$secondary};
  --tertiary: #{light.$tertiary};
  --highlight: #{light.$highlight};
  --decoration: #{light.$decoration};
  --background: #{light.$background};
  --border: #{light.$border};
  --text-primary: #{light.$text_primary};
  --text-secondary: #{light.$text_secondary};
  --black: #{light.$black};
  --white: #{light.$white};
}


a {
  color: inherit;
  text-decoration: none;
}