@use '@/app/styles/colors';
@use '@/app/styles/size';
@use '@/app/styles/fonts/fonts';
@use '@/app/styles/mixins/typography';

// Specific styles for each tag
.span {
  @include typography.setTypography(1, 300, 1.6, 0);
  font-family: 'BebasNeueRegular', sans-serif;
}

.p {
  font-family: 'BebasNeueRegular', sans-serif;

  &.m {
    @include typography.setTypography(1, 300, 1.6, 0);
  }

  &.l {
    @include typography.setTypography(1.5, 300, 1.6, 0);
  }

  &.xl {
    @include typography.setTypography(2, 300, 1.6, 0);
  }
}

.h1 {
  @include typography.setTypography(5, 600, 1.6, 2);
  font-family: 'BebasNeueBold', sans-serif;
}

.h2 {
  @include typography.setTypography(4, 500, 1.6, 1.5);
  font-family: 'BebasNeueBold', sans-serif;
}

.h3 {
  @include typography.setTypography(3, 500, 1.6, 1);
  font-family: 'BebasNeueBold', sans-serif;
}

.h4 {
  @include typography.setTypography(2, 500, 1.6, 1);
  font-family: 'BebasNeueBold', sans-serif;
}

.text {
  // Base styles for all text
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-family: 'BebasNeueRegular', sans-serif;
  text-wrap: nowrap;
  color: colors.$primary;


  &.bold {
    font-weight: 600;
  }

  &.uppercase {
    font-weight: 600;
  }

  &.default {
    color: colors.$font
  }

  &.primary {
    color: colors.$primary;
  }

  &.secondary {
    color: colors.$secondary;
  }

  &.tertiary {
    color: colors.$tertiary;
  }
}