@use '@/app/styles/config/zindex';
@use '@/app/styles/mixins/responsive';
@use '@/app/styles/mixins/background';

.container {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-gap: 3rem;
  align-items: center;
  z-index: zindex.$page;
}

.companies {
  margin-bottom: 5rem;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-gap: 3rem;

  @include responsive.respond-from-medium {
    margin: 0;
    padding: 0;
    width: 90%;
  }

  @include responsive.respond-from-large {
    width: 80%;
  }
}

.background {
  @include background.useBackgroundCommon;
  @include responsive.respond-from-medium {
    background-position: right;
  }
}