@use '@/styles/colors/dark';
@use '@/app/styles/mixins/responsive';

.svg {
  margin: auto;
  width: 40px;
  height: 40px;
  top: 10%;
  cursor: pointer;
  fill: var(--primary);

  .line {
    stroke-width: 4;
    stroke: var(--primary);
  }
}