@use '@/styles/colors/dark';
@use '@/app/styles/size';
@use '@/app/styles/mixins/responsive';
@use '@/app/styles/animations/spin';
@use '@/styles/mixins/transitions';

@property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}


.container {
  width: 100%;
  display: grid;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to bottom, oklch(0.1 0.2 240 / 0.95), oklch(0.1 0.2 240 / 0.95)) padding-box,
  conic-gradient(from var(--bg-angle) in oklch longer hue, oklch(0.85 0.37 0) 0 0) border-box;
  border: 1px solid transparent;
  animation: spin 2.5s infinite linear;

  @include responsive.respond-from-medium {
    border-radius: size.$radius;
  }
}

.content {
  background-color: var(--background);
  position: relative;
  display: grid;
  justify-content: left;

  @include responsive.respond-from-medium {
    padding: 1.5rem 3rem;

    @include transitions.themeSwitchTransition(background-color);
  }
}