@use '@/app/styles/mixins/responsive';

.page {
  padding: 0 0.25rem;
  min-height: 100vh;
  display: grid;

  @include responsive.respond-from-medium {
    padding: 0 0 0 12rem;
    grid-template-columns: 1fr;
  }
}