@use '@/app/styles/config/zindex';
@use '@/app/styles/mixins/responsive';
@use '@/app/styles/mixins/background';

.main {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  z-index: zindex.$page;
  justify-content: center;
  grid-template-areas: '.'
    'card-area '
    'wip';

  @include responsive.respond-from-medium {
    max-height: 100vh;
    grid-template-columns: 1fr 4fr 5fr;
    grid-template-areas: '. . .'
    '. card-area card-area'
    '. . .'
    '. . wip';
    justify-content: end;
    align-items: end;
  }
}

.workInProgress {
  position: relative;
  bottom: 0.5rem;
  grid-area: wip;
  align-items: baseline;
  padding: 0 2rem;

  @include responsive.respond-from-medium {
    background-position: right;
  }
}

.background {
  @include background.useBackgroundCommon;
  @include responsive.respond-from-medium {
    background-position: right;
  }
}

.card {
  grid-area: card-area;
  display: grid;
  grid-gap: 3rem;
  justify-content: left;

  @include responsive.respond-from-medium {
    padding: 2rem;
  }
}