@use '@/app/styles/config/zindex';

// NOISE BACKGROUND
.container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: zindex.$noise;
  opacity: 0.5;
}

.image {
  height: 200vh;
  width: 200vw;
  position: absolute;
  top: 0;
  left: 0;
  animation-name: background-move;
  animation-iteration-count: infinite;
  animation-duration: 500ms;
}

@keyframes background-move {
  0% {
    transform: translate(-25%, -25%)
  }

  25% {
    transform: translate(-10%, -10%)
  }

  50% {
    transform: translate(-25%, -25%)
  }

  75% {
    transform: translate(-10%, -10%)
  }
  100% {
    transform: translate(-25%, -25%)
  }
}
