@use '@/styles/colors/dark';
@use '@/app/styles/size';

.listItem {
  list-style-type: none;
  margin: 0.5rem 0 0 1rem;
  padding: 0 0 0 1rem;
  position: relative;
}

.listItem::before {
  position: absolute;
  content: '';
  display: block;
  top: 7px;
  left: -8px;
  width: 8px;
  height: 8px;
  background-color: var(--highlight);
  transform: rotate(45deg);
}

.noDecoration {
  margin: 0;
  padding: 0;

  &::before {
    display: none;
  }
}