// MAIN THEME for Light Mode

$primary: #4A90E2;
$secondary: #5BC0DE;
$tertiary: #7ED3F7;

//$primary: #0E70F5;
//$primary: #2C7EF1;
//$primary: #003073;
//$secondary: #0B5BCB;
//$tertiary: #09459A;

$highlight: #FFA8D0;
$background: #F0F0F0;
$border: rgba(200, 200, 200, 0.5);

// ACCENT for Light Mode
$decoration: #B75D69;

//$decoration_light: #3EFC34; (For reference from dark mode)
$text_light: #403B36;
$text_dark: #5E2750;

// TYPOGRAPHY for Light Mode
$text_primary: #505050;
$text_secondary: #6D6D6D;

// SUPPORT COLORS (usually the same for light and dark themes)
$white: #FFF;
$black: #000;