@use '@/styles/colors/dark';
@use '@/app/styles/mixins/responsive';

.logo {
  margin: auto;
  width: 75px;
  height: 75px;
  top: 10%;
  cursor: none;
  fill: var(--primary);

  @include responsive.respond-from-small {
    width: 85px;
    height: 85px;
  }

  @include responsive.respond-from-medium {
    width: 125px;
    height: 125px;
  }
}