@font-face {
  font-family: 'BebasNeueThin';
  src: url('../../assets/fonts/BebasNeueThin.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/BebasNeueThin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../assets/fonts/BebasNeueThin.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../assets/fonts/BebasNeueThin.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../assets/fonts/BebasNeueThin.svg#BebasNeueThin') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueLight';
  src: url('../../assets/fonts/BebasNeueLight.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/BebasNeueLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../assets/fonts/BebasNeueLight.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../assets/fonts/BebasNeueLight.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../assets/fonts/BebasNeueLight.svg#BebasNeueLight') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueBook';
  src: url('../../assets/fonts/BebasNeueBook.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/BebasNeueBook.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../assets/fonts/BebasNeueBook.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../assets/fonts/BebasNeueBook.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../assets/fonts/BebasNeueBook.svg#BebasNeueBook') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../../assets/fonts/BebasNeueRegular.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../assets/fonts/BebasNeueRegular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../assets/fonts/BebasNeueRegular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../assets/fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueBold';
  src: url('../../assets/fonts/BebasNeueBold.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../assets/fonts/BebasNeueBold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../assets/fonts/BebasNeueBold.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../assets/fonts/BebasNeueBold.svg#BebasNeueBold') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

