@use '@/styles/colors/dark';
@use '@/styles/config/zindex';
@use '@/styles/config/time';
@use '@/styles/mixins/responsive';
@use '@/styles/animations/fadeInUp';

.aside {
  grid-area: aside;
  grid-gap: 2rem;
  border-top: 2px solid var(--border);
  height: 5rem;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: zindex.$aside;
  background-color: var(--background);
  overflow: hidden;

  @include responsive.respond-from-medium {
    display: none !important;
  }
}

.closed {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
}

.open {
  transition: height time.$normal ease-in-out;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;

  .socialIcons, .navItem {
    animation: fadeInUp ease-in-out forwards;
    animation-delay: time.$slow;
  }

  .main {
    margin-bottom: 0.5rem;
    transform: translateY(1rem);
  }
}

.socialIcons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}


.nav {
  margin: 0 0 0 4rem;
  display: grid;
  grid-template-columns: 1rem;
  grid-gap: 3rem;
  list-style-type: none;

  //visibility: hidden; // Initial visibility state
  //opacity: 0; // Initial opacity
}

.navItem {
  position: relative;
  margin: 1.5rem 0;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 1rem;

  //visibility: hidden; // Initial visibility state
  //opacity: 0; // Initial opacity
}

@for $i from 0 through 4 {
  .open .navItem#{$i} {
    //visibility: hidden; // Initial visibility state
    //opacity: 0; // Initial opacity
    animation-delay: time.$slow + $i * 350ms; // Adjust timing as needed
  }
}

.main {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around
}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  display: grid;
  justify-content: center;
  align-items: baseline;
}

