@use '@/styles/colors';
@use '@/styles/config/zindex';
@use '@/styles/config/time';
@use '@/styles/mixins/responsive';

.aside {
  grid-area: aside;;
  grid-gap: 9rem;
  border-top: 2px solid colors.$border;
  height: 5rem;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: zindex.$aside;
  background-color: colors.$background;
  overflow: hidden;
  transition: height time.$normal ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include responsive.respond-from-medium {
    display: none;
  }
}

.open {
  height: 100%;

  .socialIcons, .navItem {
    visibility: visible;
    opacity: 1;
  }
}

.socialIcons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  opacity: 0;
  visibility: hidden;
  transition: opacity time.$fast ease-in-out time.$normal;
}

.nav {
  margin: 0 0 0 4rem;
  display: grid;
  grid-template-columns: 1rem;
  grid-gap: 3rem;
  list-style-type: none;
}

.navItem {
  position: relative;
  margin: 1.5rem 0;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 1rem;

  // ANIMATION ON START
  visibility: hidden;
  opacity: 0;
}

@for $i from 0 through 4 {
  .navItem#{$i} {
    transition: opacity time.$fast ease-in-out;
    transition-delay: 1s + $i * 350ms;
    transform: translateY(1rem);
  }
}

.main {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around
}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  display: grid;
  justify-content: center;
  align-items: baseline;
}

